.heroContainer{
    height: 100vh;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    .image-container{
        // height: 100%;
        width: 80%;
        top: 0;
        right: 0;
    }
}